@model User
<div class=topnav>
    <h1>Welcome to BookBevy</h1>
    <a href="">Login</a>
    <a href="">Register</a>
</div>
<div>
    <partial name=""></partial>
</div>

<div>
    <button class=" "href="">All Books</button>
    <button class=" "href="">Books By Category</button>
    <button class=" "href="">Book Clubs</button>
    <button class=" "href="">Go to User Feed</button>
</div>

