@* @model List<Category> *@

<div class="container d-flex flex-column gap-4 w-50">
  <a href="#" class="btn btn-success">Sci-Fi Book Club</a>
  <a href="#" class="btn btn-success">WWII Book Club</a>
  <a href="#" class="btn btn-success">Cooking Book Club</a>
  <a href="#" class="btn btn-success">Coding Book Club</a>
  <a href="#" class="btn btn-success">Insert Title Here Book Club</a>
  <a href="#" class="btn btn-success">Manga Book Club</a>
  <a href="#" class="btn btn-success">Comics Book Club</a>
</div>