@model User

<div>
    <h3 class="">Make sure to join us to talk about your book thoughts!</h3>
    <div>
    <button class="" href=/register>Create Account</button>
    <button class="" href=/login>Login</button>
    </div>
    
</div>