@model User

<h4>Register for BookBevy</h4>
<form asp-controller="Users" asp-action="Register" method="POST">
  <div class="mb-4">
    <label asp-for="FName"></label>
    <span asp-validation-for="FName"></span>
    <input asp-for="FName">
  </div>
  <div class="mb-4">
    <label asp-for="LName"></label>
    <span asp-validation-for="LName"></span>
    <input asp-for="LName">
  </div>
  <div class="mb-4">
    <label asp-for="Username"></label>
    <span asp-validation-for="Username"></span>
    <input asp-for="Username">
  </div>
  <div class="mb-4">
    <label asp-for="Email"></label>
    <span asp-validation-for="Email"></span>
    <input asp-for="Email">
  </div>
  <div class="mb-4">
    <label asp-for="Password"></label>
    <span asp-validation-for="Password"></span>
    <input asp-for="Password">
  </div>
  <div class="mb-4">
    <label asp-for="ConfirmPassword"></label>
    <span asp-validation-for="ConfirmPassword"></span>
    <input asp-for="ConfirmPassword">
  </div>
  <button>Join the Drink</button>
</form>