<div>
    <ul class="d-flex list-unstyled gap-2">
        <li><a class="btn btn-primary">All Books</a></li>
        <li><a class="btn btn-primary">Books By Category</a></li>
        <li><a class="btn btn-primary">Book Clubs</a></li>
        <li><a class="btn btn-primary">Go to User Feed</a></li>
    </ul>
    <button class="" href=""></button>
    <button class="" href=""></button>
    <button class="" href=""></button>
    <button class="" href=""></button>
</div>
