@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4 text-center mb-4">Welcome to Book Bevy!</h1>
    <div class="container d-flex justify-content-center gap-4">
        <partial name="_Register"></partial>
        <partial name="_Login"></partial>
    </div>
</div>
